@charset "UTF-8";

.content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.content-header {
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: var(--text-color);
	font-weight: bold;
	margin-bottom: 32px;
}

.table {
    margin-top: 8px;
    width: 100%;
    color: var(--text-color);
    border-radius: 8px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 2px 4px;
    padding: 0;
}

.table-container {
    width: 100%;
    height: 520px !important;
    overflow-y: auto !important;
}

.table tr {
    height: 35px;
    width: 100%;
    cursor: pointer;
}

.table th {
    font-size: 16px;
    background-color: var(--text-color);
    color: var(--closure-color);
    cursor: default;
}

.table .th__first {
    border-radius: 8px 0 0 0;
}

.table .th__last {
    border-radius: 0 8px 0 0;
}

.table td {
    font-size: 13px;
    overflow: auto;
    vertical-align: middle;
    height: 30px;
    padding-left: 4px;
}

.table td.center {
    text-align: center;
    font-weight: bold;
}

.table td.contain-percent {
    padding: 2px;
}

.table td.contain-percent .percent {
    height: 100%;
    border-radius: 4px;
    background-color: #FF9AA2;
    color: var(--closure-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
}

.table tr:hover {
    background-color: var(--overlay-color);
    box-shadow: 0 0 4px white;
}

.table td.center, .table th.center { 
    text-align: center;
}

input[type="number"] {
    border: none;
    border-bottom: 2px solid #000000;
    background-color: #FFEB3B;
    font-size: 14px;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    color: #000000;
    font-weight: bold;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="number"]:focus {
    border-color: #FF9AA2;
    outline: none;
}

input[type="number"]::placeholder {
    color: #000000;
    font-weight: normal;
}

input[type="number"]:hover {
    background-color: #000000;
}

input[type="number"] {
    width: 30%;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    padding: 5px;
    color: var(--text-color);
    display: block;
    margin: 0 auto;
}

input[type="number"]:focus {
    border-bottom: 2px solid blue;
    box-shadow: none;
    outline: none;
}

.button-container {
    position: fixed;
    bottom: 50px;
    right: 80px;
    display: flex;
    gap: 800px;
}

.button {
    background-color: var(--green-color);
    color: var(--closure-color);
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.button:hover {
    background-color: var(--blue-color);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}